<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= book.title %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= book.title %> by <%= book.author %></h1>
  <% if (book.notes) { %>
    <p>Notes: <%= book.notes %></p>
  <% } %>
  <% if (book.postingLink) { %>
    <a href="<%= book.postingLink %>">View Book</a>
  <% } %>
  <p>Current Status: <%= book.status %></p>
  <a href="/users/<%= user._id %>/bookshelves/<%= book._id %>/edit">
    Edit this Book
  </a>
  <form
    action="/users/<%= user._id %>/bookshelves/<%= book._id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit">Delete this Book</button>
  </form>
</body>
</html>
